---
// 1. The content prop gives access to frontmatter data
const { title, author } = Astro.props;
---
<html>
  <head>
    <!-- Add other Head elements here, like styles and meta tags. -->
    <title>{title}</title>
  </head>
  <body>
    something here
    <!-- 2. Rendered HTML will be passed into the default slot. -->
    <slot />
    
  </body>
</html>